.post {
    display: flex;
    flex-direction: column;
    border: 0.063rem solid #ddd; 
    border-radius: 1.25rem; 
    background-color: #f9f9f9;
    box-sizing: border-box;
    margin: 0.125rem; 
    flex: 0 1 12.5rem;  
    max-width: 15.625rem; 
    overflow: hidden;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0.1, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 20rem; /* Altura fija para las cartas */
}

.post:hover {
    transform: translateY(-0.313rem); 
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.2); 
}

.photo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 14,5rem; /* Altura fija para el contenedor de la imagen */
    overflow: hidden; /* Asegura que las imágenes no se salgan del contenedor */
}

.img {
    width: 100%;
    height: 100%; /* Asegura que la imagen ocupe toda la altura del contenedor */
    object-fit: cover; /* Asegura que la imagen mantenga su proporción */
    border-radius: 0.5rem 0.5rem 0 0; 
}

.info {
    background-color: white;
    padding: 1rem; 
    text-align: left;
    flex-grow: 1; /* Permite que el contenedor de info crezca */
}

.subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.info h1 {
    font-size: 1rem;
    margin: 0;
    color: #333;
}

.info p {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.5rem;
}

.heart-button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease;
}

.heart-button svg {
    width: 1.5rem; 
    height: 1.5rem; 
    fill: none; 
    stroke: #ff9da6; 
    stroke-width: 0.125rem; 
    transition: fill 0.3s ease, stroke 0.3s ease;
}

.heart-button:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 26.875rem) {
    .post {
        width: 11.25rem; 
    }
}
